
h1 {
  color: #0891f3;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  color: #0e19ec;
  font-weight: bold;
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
}

p{
  line-height: 2;
  font-size: medium;
}
.navbar-toggle{
  background-color: #a00ee3;
  border-color: #0891f3;;
  color: rgb(233, 16, 16) !important;
}

.btn-primary{
  background-color: #0e19ec;;
  color: #ffffff !Important;
}

.btn-primary:hover{
  background-color: #0891f3 !important;
  color: white !Important;
}

.navbar-default{
  background-color: rgb(13, 194, 67);
}



@media (max-width: 767px) {
  .navbar-default {
      background-color: #0891f3;
  }
}